.msg-calculator{
    max-width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.calculator{
    border: 15px solid rgb(236, 236, 136);
    background-color: rgb(248, 248, 186);
}


.calculator-title{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}


.calculator-body {
    display: flex;
    align-items: flex-start;
    background-color: rgb(248, 248, 186);
}

.calculator-operators {
    display: grid;
    grid-row-gap: 3px;
    margin-left: 3px;
}

.calculator-numbers {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(7, auto);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

.calculator-display{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
    padding: 5px;
    height: 4rem;
}

.calculator-header{
    padding: 3px;
    overflow-y: auto;
    background-color: black;
    max-width: 265px;
    margin-bottom: 3px;
}